.header {
    text-align: center;
    height: 200px;
    background-color: blueviolet;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.content-box {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 10px;
}
.input-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 5px;
}
.input-url {
    border: 0;
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 10px;
    flex: auto;
}
.btn-url {
    border: 0;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.btn-url:hover {
    background-color: rgb(115, 37, 187);
}
.gen-box {
    margin-top: 10px;
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.gen-title {
    font-weight: bolder;
}
.gen-url {
    text-decoration: none;
    color: grey;
}
.copy-btn {
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
}
.copy-btn:hover {
    background-color: rgb(216, 216, 216);
}
.waiting-container {
    margin: 10px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.num-container {
    display: flex;
    flex-flow: column;
    gap: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.waiting-title {
    font-size: 20px;
    font-weight: bolder;
}
.waiting-num {
    font-size: 48px;
    font-weight: bolder;
}
.waiting-alert-wait {
    color: grey;
}
.waiting-alert-reload {
    color: grey;
}
.progress-bar {
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    overflow: hidden;
}
.progress-bar__bar {
    width: 0px;
    max-width: 400px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 10px;
}
footer {
    margin-top: 100px;
    text-align: center;
    color: grey;
}
footer>a{
    text-decoration: none;
    color: grey;
}
.waiting-footer {
    color: rgb(207, 207, 207);
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: 10px;
}
.waiting-footer>a{
    text-decoration: none;
    color: rgb(207, 207, 207);
}